.attachments-wrapper .attachment {
    padding: 5px;
	border: 1px solid #f9f9f9;
	overflow: hidden;    
    background: #fff;
}

.attachments-wrapper .attachment .inner {
	background: #f9f9f9;
}

.attachments-wrapper .attachment .inner > img {
	max-width: 30px;
	height: auto;
}

.attachments-wrapper .attachment .inner a {
	vertical-align: top;
	margin: 5px;
}
    
.msgat-uploaded-file {
    display: inline-block;
	margin-left: 10px;
	padding: 2px 5px;
	background: #F4FFF4;
    font-size: smaller;
}
.msgat-uploaded-file a.remove-uploaded-file {
	margin-left: 10px;
}